<div class="container">
  <div class="heading">
    <h1 style="text-align: center;">Create Your Account</h1>
  </div>

  <form (ngSubmit)="signup()" #userSignUp= "ngForm">
    <div style="padding-left: 5vw; padding-top: 3vw; color: rgb(109, 73, 57);">
      <h3>User Type</h3>
      <label class="radio-inline">
        <input
          style="margin: 1vw;"
          checked
          type="radio"
          name="optradio"
          id="radioNormal"
          value="other"
        />Other Users
      </label>
      <label style="margin: 1vw;" class="radio-inline">
        <input
          type="radio"
          name="optradio"
          id="radioAdmin"
          value="admin"
        />Admin
      </label>
    </div>
    <br />

    <div class="form-control">
      <label>Consumer Name</label> &nbsp;
      <input
        type="text"
        id="consumerName"
        name="consumerName"
        [(ngModel)]="userCredential.consumerName"
        required
      />
    </div>
    <br />
    <div class="form-control">
      <label>Password</label> &nbsp;
      <input
        type="password"
        id="pswd"
        name="pswd"
        [(ngModel)]="userCredential.password"
        #pswd="ngModel"
        [class.is-invalid]="pswd.invalid && pswd.touched" 
        required
        pattern="^(?=.*\d).{8,}$"
        />
        <br>
        <small class="text-danger" [class.d-none]="pswd.valid || pswd.touched">Please Enter a Valid Password with minimum 8 characters and one number</small>
    </div>

    <br />
    <button class="submit" type="submit" [disabled]="userSignUp.form.invalid">
      Submit
    </button>
  </form>
</div>
