<div class="container" >
    <div class="heading">
        <h1 style="text-align: center;">Create Your Account</h1>
    </div>

    
    <form (ngSubmit)="signup()">
        
        <div  style="padding-left: 5vw;padding-top: 3vw; color: gray;">        
            <h3>User Type</h3>          
              <label style="margin: 1vw; " class="radio-inline">
                <input type="radio"  name="optradio" checked id="radioAdmin" value="admin">Admin
              </label>
              <label class="radio-inline">
                <input style="margin: 1vw;" type="radio"  name="optradio" id="radioNormal"value="other">Other Users
              </label>
        </div>
              <br>
        
        <div class="form-control" >
           <label >Consumer Name</label> &nbsp;
           <input type="text"  id="consumerName" name="consumerName" [(ngModel)]="userCredential.consumerName">
           
       </div>
       <br>
       <div class="form-control">
        <label >Password</label> &nbsp;
        <input type="password"  id="pswd" name="pswd" [(ngModel)]="userCredential.password" >
        
    </div>


    <br>
    <button class="submit" type="submit" style="margin: 2vw;margin-left: 20vw; background-color: rgb(204, 58, 58);font-size: large;">Submit</button>
 </form>
</div>