<app-header></app-header>
<router-outlet></router-outlet>

<!-- Footer -->
<footer class="page-footer " style="background-color: rgb(94, 155, 70); ">

    <!-- Footer Elements -->
    <div class="container text-center">

      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-5" style="z-index: -1;">

            <!-- Facebook -->
            <a href="#" target="_blank"><span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-spin"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse fa-spin"></i>
            </span></a>
            <a href="#" target="_blank"><span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-spin"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse fa-spin"></i>
            </span></a>
            <a href="#" target="_blank"><span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-spin"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse fa-spin"></i>
            </span></a>
            <a href="#" target="_blank"><span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-spin"></i>
                <i class="fa fa-google-plus fa-stack-1x fa-inverse fa-spin"></i>
            </span></a>
            <a href="https://github.com/NimmyJill?tab=repositories" target="_blank"><span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-spin"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse fa-spin"></i>
            </span></a>
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <p>NSG Bill Estimator</p>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->