.screen{
background-image: url("https://img.onmanorama.com/content/dam/mm/en/lifestyle/decor/images/2020/5/31/current-bill.jpg");
background-repeat: no-repeat;
background-size: cover;
}
h2{
    margin: 2vw;
}