.screen{
background-image: url("https://d32r1sh890xpii.cloudfront.net/news/1200x900/2020-06-15_waidik0bna.jpg");
background-repeat: no-repeat;
background-size: cover;
margin: 3vw;
}
.content{
    color:rgb(167, 154, 135);
    font-family:  Arial, Helvetica, sans-serif;
    padding: 2vw;
    padding-left: 3vw;
}
h2{
    margin: 2vw;
}