<div class="container">
  <div class="heading">
    <h1 style="text-align: center;">Login</h1>
  </div>

  <form (ngSubmit)="login()">
    <div class="form-control">
      <label>Consumer Name</label> &nbsp;
      <input
        type="text"
        placeholder="Enter email"
        id="username"
        name="name"
        [(ngModel)]="userDetails.consumerName"
      />
    </div>
    <br />
    <div class="form-control">
      <label>Password</label> &nbsp;
      <input
        type="password"
        placeholder="Enter password"
        id="pswd"
        name="pswd"
        [(ngModel)]="userDetails.password"
      />
    </div>
    <br />
    <button class="submit" type="submit">Submit</button>
    <br /><br />
    <!-- <div class="form-control">  -->
    <div class="login-sign">
      <h6>Need an Account?</h6>
      <a
        class="backto"
        style="text-decoration: none; font-size: large;"
        routerLink="/signup"
        >Signup</a
      >
    </div>
    <!-- </div> -->
  </form>
</div>
