<h1 class="card-header " style="margin: 5vw; border-radius: 2vw; text-align: center;height: 5vw; background-color: rgb(0, 152, 179); opacity: .9;">{{title}}</h1>
<div class="card-header">
<a routerLink='/' style="background-color: rgb(87, 161, 87);">HOME</a>
<a routerLink='/admin' style="background-color: rgb(87, 161, 87);">USER SET-UP</a>
<a routerLink='/bill' style="background-color: rgb(87, 161, 87);">BILL ESTIMATE</a>
<a routerLink='/login' style="float: right;background-color: rgb(87, 161, 87);margin-top:-6px ;">LOGIN</a>
<a routerLink='/signup' style="float: right;background-color: rgb(87, 161, 87);margin-top:-6px ;" >SIGNUP</a>

</div>